@using System.Security.Principal

<ul class="navbar-nav w3-white">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <span class="navbar-text text-dark user-name">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>